<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Provider: {% block title %}{% endblock %}</title>

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        {% if g.user %}
            <div>
                <a href="{{ url_for('home') }}">Home</a> |
                <a href="{{ url_for('client.list_clients') }}">Clients</a> |
                <a href="{{ url_for('user.list_users') }}">Users</a> |
                <a href="{{ url_for('token.list_tokens') }}">Tokens</a> |
                <a href="{{ url_for('grant.list_grants') }}">Grants</a> |
                <a href="{{ url_for('logout') }}">Logout</a> |
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </body>
</html>
